<template lang="pug">
div(:class='{ "validator--error": error }').validator
    slot
</template>

<script>

@Component({
    props: {
        rules: {
            type: Array
        }
    }
})
export default class Validator extends Vue {
    isValidator = true;
    error = '';
    get child() { return this.$children[0]; }
    mounted() {
        let index = Utils.listValidator.indexOf(this);
        if (index == -1) Utils.listValidator.push(this);
    }
    beforeDestroy() {
        let index = Utils.listValidator.indexOf(this);
        if (index > -1) Utils.listValidator.splice(index, 1);
    }
    setError = (error) => this.error = error;

    validate() {
        if (!this.rules) return true;
        let childValue = this.child._props.value;
        let rules = this.rules;
        let error = '';
        rules.map(({ name, value, message }) => {
            if (error) return;
            if (name == 'lengthGreater') {
                if (childValue.toString().length < Number(value)) error = message;
            }
            if (name == 'lengthLess') {
                if (childValue.toString().length > Number(value)) error = message;
            }
            if (name == 'isNumber') {
                if (!isNaN(Number(childValue))) error = message;
            }
            if (name == 'numberGreater') {
                if (Number(childValue) < Number(value)) error = message;
            }
            if (name == 'numberLess') {
                if (Number(childValue) > Number(value)) error = message;
            }
            if (name == 'isTrue') {
                if (!childValue) error = message;
            }
            if (name == 'isFalse') {
                if (childValue) error = message;
            }
            if (name == 'equal') {
                if (childValue) {
                    if (value.toString() != childValue.toString()) error = message;
                }
                if (!childValue && value) error = message;
            }
            if (name == 'required') {
                if (childValue != '0' && (!childValue || childValue == '')) error = message;
            }
        });
        this.error = error;
        if (error) return false;
        return true;
    }
}
</script>