<template lang="pug">
div
    label( v-if='label' ) {{ label }}
    input( ref='input' @input='onInput' @blur='onBlur' @focus='onFocus' :value='value' )
</template>
 
<script>
/**
 * @prop id - название поля в модели которое в дальнейшем используется для записи нового значения в модель
 * @prop value - значение контрола 
 * @description пара id, value в дальнейшем используется для записи значения в модель
 */
@Component({
    props: ['label', 'value', 'id'] // ... другие необходимые пропы
})
export default class BaseInput extends Vue {
    /**
     * @param event 
     * Лучше использовать как основное события для изменений значений в моделях, 
     * можно также использовать событие change но в тех случаях когда нужно записать значение в момент потери фокуса и только в том случае если значение изменилось
     */
    onInput = (event) => this.emit(event, 'input');

    /**
     * @param event
     */
    onBlur = (event) => this.emit(event, 'blur');

    /**
     * @param event
     */
    onFocus = (event) => this.emit(event, 'focus');
    /**
     * Общая функция для того чтобы не дублировать spread пропов в каждом отдельном обработчике
     * @param event - События элемента input
     * @param name - Название события
     * @param value - Значение которое будет переданно в событие если есть какие то причины брать его не из event.target
     */
    emit (event, name, value) {
        this.$emit(name, {
            ...this._props,
            vueEvent: event,
            value: value || event.target.value
        });
    }
    /**
     * @param функция для теста
     */
    testable(value) {
        return value;
    }
}
</script>