<template lang="pug">
div(id='vue-app')
    //- For e2e default test
    div.app-content-wrapper
        div(id='vue-app-content') app content
    router-view
</template>

<script>

@Component
export default class App extends Vue {
    mounted() {
        this.$store.dispatch('settings/fetchData');
    }
}
</script>