<template lang="pug">
div
    div {{ someField }} {{ someOtherField }}
    router-view
</template>

<script>

@Component({
    computed: {
        ...mapState('settings', [
            'someField',
            'someOtherField'
        ])
    }
})
export default class MainPage extends Vue {
    mounted () {
        console.log('test');
    }
}
</script>